 /*  .main {
  width: 100%;
  min-height: 220vh;
  background-color: rgb(180, 88, 58);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  width: 82%;
  min-height: 220vh;
  background-color: rgb(183, 148, 148);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .container {
    width: 95%;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3vh 2vw;
  }
} */
  .main {
  width: 100%;
  /* min-height: 160vh; */
  background-color: #F8F6F4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  align-items: flex-start;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  width: 82%;
  min-height: 100vh;
  background-color: #F8F6F4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0%;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
    gap: 2%;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
}


@media (max-width: 480px) {
  .container {
    padding: 2vh 3vw;
    gap: 3vh;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 3vh 4vw;
    gap: 3vh;
    min-height: auto;
    align-items: stretch;
  }
} 
  